* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scrollable {
  max-height: 100vh;
  overflow: hidden;
}
.head {
  text-align: center;
  padding: 1rem;
  height: fit-content;
}
.head-title {
  margin: 2rem;
  text-align: center;
}
.logo {
  width: 4rem;
  height: 4rem;
}
form {
  text-align: center;
}

.subscription_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  height: fit-content;
}
.sub {
  flex-basis: 25%;
  background-color: white;
  max-width: 500px;
  min-width: 300px;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}
.sub:hover {
  transform: scale(1.05);
}
.package-name {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem;
}
.package-name h5 {
  background-color: rgb(252, 153, 82);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  margin: 0 0.5rem;
}
.desc {
  width: 100%;
  text-align: left;
  margin: 2rem 1rem;
  height: 10vh;
}
.price {
  width: 100%;
  display: flex;
  justify-content: end;
}
.price h2 {
  font-size: 2rem;
}
.features {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 1rem 2rem;
}
.features div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  gap: 1rem;
}
.features div p {
  font-size: 1rem;
}
.features div img {
  width: 1.7rem;
  height: 1.7rem;
}
button {
  background-color: rgb(252, 153, 82);
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.browse_btn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 100%;
}
.browse_btn a {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: fit-content;
}
.browse_btn button {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  color: rgb(252, 153, 82);
  font-weight: 500;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
  transition: 0.3s all;
}

hr {
  opacity: 0.5;
}

/* accordian */
.accordian-container {
  width: 100%;
  padding: 1rem;
}
.accordion {
  width: 100%;
  max-width: 90vw;
  margin: 1rem auto;
  border-radius: 20px;
  padding: 2rem;
}

.accordion input {
  display: none;
}

.accordion label {
  display: block;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(252, 153, 82);
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion label:hover {
  background-color: rgb(252, 153, 82, 0.5);
}

.accordion .content {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  transition: max-height 0.3s ease;
  border-radius: 20px;
}

.accordion input:checked + label + .content {
  max-height: fit-content; /* Adjust based on content size */
  padding: 15px;
  transition: all 0.5s;
}

.content p {
  margin: 10px 0;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .container {
    height: 100vh;
  }
  .accordian-container {
    width: 100vw;
    padding: 0;
  }
  .accordion {
    max-width: 100%;
    padding: 0.2rem;
  }
  .subscription_buttons {
    width: 90vw;
    display: flex; /* Add flexbox display */
    align-items: flex-start; /* Fix invalid 'start' */
    overflow-x: scroll;
    height: fit-content;
    gap: 1rem;
    scroll-snap-type: x mandatory; /* Enable snap behavior */
    scrollbar-width: none; /* For Firefox, hide scrollbar */
    -ms-overflow-style: none; /* For IE and Edge, hide scrollbar */
    scroll-behavior: smooth; /* Enable smooth scrolling */
    flex-wrap: nowrap; /* Ensure items are in a single row */
  }

  .subscription_buttons::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .sub {
    width: 90%;
    flex: 0 0 auto; /* Prevent items from growing or shrinking */
    scroll-snap-align: start; /* Snap to the start of each item */
    height: fit-content;
    transition: all 0.3s;
  }

  .sub:active {
    transform: scale(1.05);
  }
  .browse_btn {
    height: fit-content;
    margin: 0 auto;
  }
  .browse_btn button {
    margin: 0 auto;
  }
  .desc {
    margin: 1rem;
  }
  /* Snapped size */
  .sub.sub:hover {
    transform: scale(1); /* Change size when snapped */
  }
}
