button:active {
  transform: scale(0.9);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
  transition: 0.3s all;
}
.scrollable {
  max-height: 100vh;
  overflow: hidden;
}
body {
  background-color: rgb(248, 248, 248);
  padding: 0;
  margin: 0;
}
#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.logo {
  width: 4.5rem;
  height: 4.5rem;
  margin-top: 10px;
}
.gender_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  margin: 0;
  height: fit-content;
  width: 60%;
}
.radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header {
  padding-top: 10px;
  text-align: center;
}
header a {
  height: 2.5rem;
  width: 2.5rem;
}
.left-col {
  width: 70%;
  padding-bottom: 20px;
}
.right-col {
  width: 70%;
  padding-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(8, 8, 12);
  border-radius: 20px;
  text-align: center;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 8, 12);
  padding: 2rem 2rem;
  border-radius: 20px;
  width: 70%;
  height: 80%;
}
.left-sign-up,
.right-sign-up {
  flex-basis: 50%;
  height: 100%;
}
.right-sign-up {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 400px;
}
.left-sign-up{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-sign-up h1{
  color: white;
  font-size: 2rem !important;
  padding: 2rem !important;
}
.left-login,
.right-login {
  height: 100%;
}
.left-login {
  flex-basis: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-login {
  background-color: white;
  flex-basis: 35%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}
.btn-container {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  padding: 2rem;
  border-radius: 20px;
}
form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sign-up-container {
  padding: 1rem;
  width: 90% !important ;
}
form div {
  margin-top: 10px;
}
.input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.input-label {
  color: rgb(8, 8, 12);
  font-weight: 500;
  padding: 1rem;
  text-align: left;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.input-label label {
  width: 100%;
}
.input-label input {
  background: transparent;
  height: 25px;
}
.container h1 {
  padding: 0;
  margin: 10px 0;
  font-size: 1.4rem;
  text-align: center;
}
select {
  background-color: rgb(252, 153, 82);
  border: none;
  border-radius: 20px;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-weight: 400;
  padding: 0.5rem;
}

.dropdown::before {
  content: "";
  border: none;
  display: inline-block;
  border-radius: 20px;
}
.container input,
.input-label .password {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(37, 37, 43);
  text-align: left;
}
.password input {
  padding: 0;
  margin: 0;
  border: 0 !important;
}
::placeholder {
  background: transparent;
  border: 0;
  outline: none;
  color: grey;
}
.container sup {
  color: rgb(252, 153, 82);
}
.container #male,
.container #female {
  width: 15px;
  margin: 0;
}

.container .man,
.container .woman {
}

.container #checkbox {
  width: 15px;
}

.container .checkbox {
  margin-left: 0;
  color: rgb(252, 153, 82);
  text-align: center;
  font-size: 12px;
}
.container .login {
  width: fit-content;
  margin: auto;
}
.container button {
  margin: 10px auto;
  padding: 10px;
  width: 10rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  color: rgb(8, 8, 12);
  border: none;
  border-radius: 20px;
  background-color: rgb(252, 153, 82);
}
.logout_btn {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(252, 153, 82) !important;
}
.sign-up {
  width: 60%;
  margin: 0 auto;
}
.sign-up button {
  margin: 0;
  width: 40%;
}
a {
  font-size: 15px;
  color: rgb(252, 153, 82);
  font-weight: 400;
}
form .reg {
  text-align: center;
}

/* ----------for small screens------- */
@media only screen and (max-width: 600px) {
  header {
    font-size: 3rem;
  }
  header a {
    height: 120px;
    width: 120px;
  }
  .logo {
    width: 120px;
    height: 120px;
    margin-top: 100px;
  }
  .container button {
    width: 100%;
    margin: 0 auto;
  }
  .container .input-label {
    text-align: left;
    width: 70vw;
    margin: 10px 0;
  }
  .container input,
  .input-label .password {
    width: 70%;
    background: white;
    border: none;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(37, 37, 43, 0.6);
    margin-bottom: 10px;
    text-align: left;
  }
  .password input {
    width: 100% !important;
  }
  .container .input-label label {
    text-align: left;
    padding-bottom: 5%;
    font-size: 1.1rem;
  }
  .container {
    width: 90%;
    font-size: 16px;
  }
  .container h1 {
    font-size: 22px;
    margin: 40px 0;
  }
  .container .h3reg {
    margin: 0;
    padding: 0;
    color: rgb(252, 153, 82);
    font-weight: 600;
  }
  .container label {
    display: block;
    text-align: left;
    font-weight: 600;
    width: auto;
  }
  form .reg {
    padding-top: 30px;
    text-align: center;
    color: rgb(8, 8, 12);
    font-weight: 200;
  }
  .right-col {
    margin: 0 auto;
  }
  .left-col {
    margin: 0 auto;
  }
  .dropdown {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container .login {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
  .dropdown select {
    border: none;
    border-radius: 20px;
    width: 60%;
    height: 40px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
  }
}
