body {
  padding: 0;
  margin: 0;
}
button:active {
  transform: scale(0.9);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
  transition: 0.3s all;
}
.scrollable {
  max-height: 100vh;
  overflow: hidden;
}
.logo {
  width: 6vw;
  height: 6vw;
  margin-top: 10px;
}
#tab {
  display: none;
}
.invalid {
  animation: errorInvalid 2s ease-in-out 100ms infinite;
  border: 2px solid #ff0000 !important;
  border-radius: 20px;
}
input:focus {
  /* Styling when the input is being typed in (focused) */
  border: 1px solid rgb(252, 153, 82);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(8, 8, 12);
  border-radius: 20px;
  text-align: center;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.advertise-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 8, 12);
  padding: 2rem 2rem;
  border-radius: 20px;
  width: 70%;
  height: 80%;
}
.left-advertise,
.right-advertise {
  height: 100%;
}
.right-advertise {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 400px;
  flex-basis: 60%;

}
.left-advertise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 40%;
}
.left-advertise h1 {
  color: white;
  font-size: 2rem !important;
  padding: 2rem !important;
}
.input-div label {
  color: rgb(8, 8, 12);
  font-weight: 600;
  text-align: left;
  width: 100%;
  display: block;
  margin: 0.2rem 0;
}
.container form {
  width: 90%;
}
.input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin: 0.2rem 0;
}
.input-div div {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 1rem;
}
.input-div input {
  padding: 10px;
  width: 90%;
  border: none;
  background: none;
  color: rgb(8, 8, 12);
  border-bottom: solid 2px rgba(8, 8, 12, 0.452);
}
.amenities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;
}
.left_amenities {
  flex-basis: 50%;
}
.right_amenities {
  flex-basis: 50%;
}
.right_amenities div,
.left_amenities div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.prevNext {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.checkbox label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.checkbox input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -4px;
  overflow: hidden;
  text-align: center;
}
.radio {
  text-align: center;
}
.radio h2 {
  font-size: 30px;
  display: block;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgb(252, 153, 82);
}
.radio label {
  text-align: center;
  font-weight: 100;
  font-size: 15px;
}
.desc-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.2rem 0;
}
.desc-div label {
  color: rgb(8, 8, 12);
  font-weight: 600;
  text-align: left;
  width: 100%;
  display: block;
}
.navuni {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navuni label {
  width: 14rem;
  padding: 1rem;
  color: rgb(8, 8, 12);
  font-weight: 600;
  text-align: left;
  display: block;
}
textarea {
  width: 100%;
  margin: 1rem auto;
  height: 60px;
  border-radius: 20px;
  border: 1px solid rgb(8, 8, 12);
  padding: 10px;
}
select {
  width: fit-content;
  background-color: rgb(252, 153, 82);
  height: 30px;
  border: none;
  border-radius: 20px;
  font-weight: 500;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
button {
  display: block;
  margin: 10px auto;
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  background: rgb(8, 8, 12);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
option {
  text-align: center;
  margin: 40px;
  border: none;
}
.images p {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 50;
  font-size: 1rem;
  margin-top: 0;
}
button {
  display: block;
  margin: 20px auto;
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: rgb(8, 8, 12);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.images input {
  border: none;
  display: none;
}
.imagepreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 20vw;
  height: fit-content;
  margin: 1rem;
  border: 2px rgb(252, 153, 82) dotted;
  border-radius: 20px;
}
ol{
  text-align: left;
}
.button_submit {
  margin: 1rem;
}
.imagepreview img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  margin: 10px;
}
/* --footer-- */
footer {
  flex: 1;
  width: 100%;
  bottom: 0;
  background: rgb(8, 8, 12);
  color: white;
  border-radius: 20px;
  font-size: 20px;
  line-height: 15px;
}

.socialicons .fab {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  font-size: 40px;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}
.socialicons {
  text-align: center;
}
.socialicons img {
  height: 30px;
  width: 30px;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 0px;
}
.footer {
  text-align: center;
  font-weight: 100;
  background-color: rgb(8, 8, 12);
}
h3.abt {
  color: white;
}
.footer p {
  color: rgb(207, 202, 202);
  margin-bottom: 15px;
  margin-top: 15px;
}
a {
  text-decoration: underline;
  color: rgb(252, 153, 82);
  cursor: pointer;
}
hr {
  height: 2px;
  background: rgba(8, 8, 12, 0.082);
  width: 100%;
  border: 0;
}
/* for small screens */
@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    margin: 0% auto;
  }
  .advertise-container{
    width: 100%;
    height: 90%;
    padding: 2rem 0;
    margin-bottom: 0px;
    background-color: rgb(248,248,248);
  }
  .left-advertise{
    display: none;
  }
  .right-advertise{
    margin-bottom: 0px !important;
  }
  .tab{
    margin-bottom: 0;
  }
  .container h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .logo {
    width: 120px;
    height: 120px;
    margin-top: 100px;
  }
  .input-div{
    margin: 5px 0;
  }
  .input-div div{
    padding: 0 0.5rem;
  }
  .input-div input {
    width: 90%;
    border: none;
    background: none;
    color: rgb(8, 8, 12);
    border-bottom: solid 1px rgb(8, 8, 12);
  }
  .desc-div, .navuni{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  textarea{
    width: 90%;
  }
  .checkbox input {
    width: 13px;
    height: 13px;
    padding-left: 0;
    margin: 0;
    inline-size: 20px;
    vertical-align: bottom;
    position: relative;
    top: -4px;
    overflow: hidden;
    text-align: center;
  }
  .dropdown {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
  .navuni, .desc-div {
    margin: 1rem 0;
    padding: 0;
  }
  .navuni label {
    text-align: center;
    width: fit-content;
    display: block;
    padding: 0;
  }
  .navuni select {
    background-color: rgb(252, 153, 82);
    border: none;
    border-radius: 20px;
    width: 80%;
    height: 35px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    margin: 1rem auto;
  }
  .container label {
    display: block;
    margin-bottom: 20px auto;
    color: rgb(8, 8, 12);
    font-weight: 600;
    text-align: left;
    padding-bottom: 0px 0px 0px 0px;
  }
  .container form {
    margin: 15%;
  }
  .container h2 {
    font-size: 30px;
    text-align: center;
  }
  .radio {
    margin: 0px 0px 40px;
  }
  .radio label {
    text-align: center;
    margin-bottom: 20px auto;
    color: rgb(8, 8, 12);
    font-weight: 600;
    font-size: 20px;
  }
  button {
    display: block;
    margin: 5px auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: rgb(252, 153, 82);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color: rgb(8, 8, 12);
    transition: 0.3s all;
  }
  option {
    text-align: center;
    margin: 40px;
    border: none;
  }
  .images input {
    border: none;
    display: none;
  }
  .imagepreview {
    margin: 10px 0px;
    width: 100%;
  }
  .imagepreview img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 10px;
  }
}
