* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.scrollable {
  max-height: 100vh;
  overflow: hidden;
}
body {
  background-color: white;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  justify-items: center;
}
/* left column */
.left-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex: 1;
  padding: 1rem;
  height: 100%;
}
left-col-content{
  
}
.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.top-row-container {
  background-color: rgb(252, 153, 82);
  padding: 2rem;
  flex-basis: 25%;
  margin: 1rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}
.top-row-container:hover {
  transform: scale(1.05);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Lowering the shadow */
}
.top-container-value,
.top-container-desc {
  width: 100%;
  height: fit-content;
}
.top-container-top-icon{
  width: 2rem;
  height: 2rem;
}
.top-container-top-icon img{
  width: 100%;
  height: 100%;
}
.top-container-value h2 {
  font-weight: 600;
  color: rgb(8, 8, 12);
  font-size: 3rem;
}
.bottom-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 100%;
}
.bottom-left,
.bottom-right {
  display: flex;
  height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  transition: 0.3s all ease-in-out;
}
.bottom-right:hover {
  transform: scale(1.01);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Lowering the shadow */
}
.bottom-left:hover {
  transform: scale(1.01);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Lowering the shadow */
}
.bottom-left {
  flex-basis: 65%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.bottom-right {
  flex-basis: 35%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.bottom-right-header,
.bottom-left-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.positive-percent{
  font-weight: 500;
  color: rgb(35, 255, 35);
}
.history-table {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
  border: none;
  height: 100%;
}
table,
th,
td {
  border: 1px solid #cccccc11;
  border-radius: 10px;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
.status-paid {
  color: rgb(35, 255, 35);
  font-weight: bold;
}
.status-pending {
  color: rgb(252, 153, 82);
  font-weight: bold;
}
.status-canceled {
  color: red;
  font-weight: bold;
}
.button {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
button{
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: rgb(252, 153, 82);
  color: rgb(8, 8, 12);
  font-weight: 500; 
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease-in-out;
}

button:active {
  transform: scale(0.90);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Lowering the shadow */
}
