* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.scrollable {
  max-height: 100vh;
  overflow: hidden;
}
body {
  background-color: white;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
/* left column */

.left_col {
  display: flex;
  height: 100vh;
  flex-basis: 50%;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: white;
}
.listing_number {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 60%;
  padding: 4rem;
  border-radius: 10px;
  background-color: rgb(252, 153, 8);
  margin-bottom: 2rem;
  color: white;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.425) 0px 6px 20px 0px;
}
.listing_number:active {
  transform: scale(0.9);
  transition-duration: 700ms;
}
.listing_number .number {
  font-size: 4.2rem;
  color: rgb(8, 8, 12);
}
.add_listing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 30%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  padding: 1rem;
  color: rgb(8, 8, 12);
  font-size: 0.8rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.425) 0px 6px 20px 0px;
  cursor: pointer;
}
.add_listing .number {
  color: rgb(252, 153, 8);
  font-weight: 800;
}
.add_listing:active {
  transform: scale(0.9);
  transition-duration: 700ms;
}
.right_col {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-basis: 35%;
  left: 0;
  justify-content: start;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;
  width: 100%;
}
.right_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: center;
  align-items: center;
  width: 70%;
  height: 95%;
  box-shadow: rgba(0, 0, 0, 0.425) 0px 1px 10px 0px;
  border-radius: 10px;
  margin: 10px;
}
hr {
  width: 80%;
  margin: 1rem;
  height: 1px;
  color: rgb(8, 8, 12);
}
.profile_image {
  width: 12rem;
  height: 12rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
}
.profile_image img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.top_element {
  width: 60%;
  height: auto;
  border-radius: 10px;
  text-align: center;
}
.top_element h1 {
  font-size: 2.4rem;
  font-style: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.top_element .level {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.top_element .level h3 {
  font-size: 1.4rem;
  margin: 1rem;
  color: rgba(252, 153, 82, 0.75);
}
.bottom_element {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom_element .details {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 1rem;
}
.edit_profile {
  width: 100%;
  padding: 2rem;
}
.edit_profile button {
  width: 60%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  border: 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.425) 0px 6px 20px 0px;
  cursor: pointer;
}
.edit_profile button:active {
  transform: scale(0.9);
  transition-duration: 700ms;
}

/* advertise form */
#tab {
  display: none;
}
/* error animation */
@keyframes errorInvalid {
  0%{
    border: 2px solid #ff0000 !important;
  }
  50%{
    border: 2px solid rgb(8,8,12) !important;
  }
  100%{
    border: 2px solid #ff0000af !important;
  }
}
.invalid {
  animation: errorInvalid 2s ease-in-out 100ms infinite;
  border: 2px solid #ff0000 !important;
  border-radius: 10px !important;
}
.admin_advertise_form {
  backdrop-filter: blur(10px) brightness(60%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  top: 1rem;
}
.admin_advertise_container {
  width: 60%;
  background-color: white;
  font-size: 20px;
  color: rgb(8, 8, 12);
  border-radius: 20px;
  text-align: left;
  position: relative;
}
.admin_advertise_container h1 {
  color: rgb(252, 153, 82);
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  font-weight: 1000;
  font-family: "Oswald", sans-serif;
}
.admin_advertise_container h2 {
  font-size: 30px;
  text-align: center;
  color: rgb(8, 8, 12);
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.admin_advertise_container label {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 2px;
  color: rgb(8, 8, 12);
  font-weight: 600;
  text-align: left;
}
.admin_advertise_container form {
  margin: 10%;
}
.admin_advertise_container div {
  margin-bottom: 0.8rem;
}
.admin_advertise_container input {
  padding: 10px;
  width: 90%;
  height: 20px;
  border: none;
  background: none;
  color: rgb(8, 8, 12);
  border-bottom: solid 1px rgba(8, 8, 12, 0.452);
  border-radius: 10px;
}
/* amenitites */
.amenities {
  display: flex;
  flex-direction: row;
}
.left_amenities {
  flex-basis: 50%;
}
.right_amenities {
  flex-basis: 50%;
}
.left_amenities label,
.right_amenities label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-items: center;
  height: fit-content;
}
.amenities_radio {
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-items: center;
  margin: 0 5px;
  align-items: center;
}
.prevNext {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.checkbox a {
  color: rgba(8, 8, 12, 0.596);
  font-size: medium;
}
.checkbox input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -4px;
  overflow: hidden;
  text-align: center;
}
.radio {
  text-align: center;
}
.radio h2 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  display: block;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgb(252, 153, 82);
}

.radio label {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 15px;
}
.navuni {
  text-align: center;
  width: 80%;
  margin: 1rem auto;
  padding-top: 1rem;
}
textarea {
  width: 100%;
  margin: 20px auto;
  height: 100px;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid rgb(8, 8, 12);
}
select {
  width: 60%;
  background-color: rgb(252, 153, 82);
  margin-top: 20px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}
option {
  text-align: center;
  margin: 40px;
  border: none;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.images p {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 50;
  font-size: 15px;
  margin-top: 0;
  color: rgba(252, 153, 82, 0.671);
  font-family: "Source Sans 3", sans-serif;
}
button {
  display: block;
  margin: 10px auto;
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background: rgb(8, 8, 12);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: "Arvo", serif;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.images input {
  border: none;
  display: none;
}
.imagepreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 40vw;
  height: 20vh;
  margin: 20px;
  margin-right: 0px !important;
  border: 2px rgb(252, 153, 82) dotted;
  border-radius: 10px;
}
.imagepreview img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: 10px;
}
.button_submit {
  margin: 1rem;
}
.button_submit button:active {
  transform: scale(0.9);
  transition-duration: 700ms;
}
/* add admin */
.admin_add_agent_form {
  backdrop-filter: blur(10px) brightness(60%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  top: 1rem;
}
.admin_add_admin_form{
  margin: 5%;
  background-color: white;
  border-radius: 10px;
}
.admin_add_admin_form h2{
  font-size: 30px;
  text-align: center;
  color: rgb(8, 8, 12);
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.gender{
  display: flex;
  margin: 20px 0;
  flex-direction: row;
  gap: 2px;
  justify-content: space-between;
  align-items: start;
  width: 20%;
}
.gender input{
  width: 20px;
}
.add_admin_form_buttons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
/* for small screens */
@media only screen and (max-width: 700px) {
  .container {
    width: 95%;
    margin: 20% auto;
  }
  .container h1 {
    font-size: 15vw;
    margin-top: 0;
    font-family: "Oswald", sans-serif;
  }
  .logo {
    width: 120px;
    height: 120px;
    margin-top: 100px;
  }
  .container input {
    width: 100%;
    border: none;
    background: none;
    color: rgb(8, 8, 12);
    border-bottom: solid 1px rgb(8, 8, 12);
  }
  .checkbox input {
    width: 13px;
    height: 13px;
    padding-left: 0;
    margin: 0;
    inline-size: 20px;
    vertical-align: bottom;
    position: relative;
    top: -4px;
    overflow: hidden;
    text-align: center;
  }
  .dropdown {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
  .navuni {
    margin: 0;
    padding: 0;
  }
  .navuni label {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    width: 200px;
    display: block;
  }
  .navuni select {
    background-color: rgb(252, 153, 82);
    border: none;
    border-radius: 10px;
    width: 120%;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    font-weight: 400;
  }
  .container label {
    font-family: "Quicksand", sans-serif;
    display: block;
    margin-bottom: 20px auto;
    color: rgb(8, 8, 12);
    font-weight: 600;
    text-align: left;
    padding-bottom: 0px 0px 0px 0px;
  }
  .container form {
    margin: 15%;
  }
  .container div {
    margin-bottom: 20px;
  }
  .container h2 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(252, 153, 82, 0.671);
    font-family: "Oswald", sans-serif;
  }
  .radio {
    margin: 0px 0px 40px;
  }
  .radio label {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    margin-bottom: 20px auto;
    color: rgb(8, 8, 12);
    font-weight: 600;
    font-size: 20px;
  }
  button {
    display: block;
    margin: 5px auto;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgb(252, 153, 82);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    font-family: "Arvo", serif;
    transition: 0.3s all;
  }
  select {
    background-color: rgb(252, 153, 82);
    width: 60%;
    margin-top: 20px;
    height: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  option {
    text-align: center;
    margin: 40px;
    border: none;
  }
  .images input {
    border: none;
    display: none;
    font-family: "Arvo", sans-serif, serif;
  }
  .imagepreview {
    margin: 10px 0px;
    width: 100%;
  }
  .imagepreview img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 10px;
  }
}
